* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.color-dark {
    color: rgb(8, 0, 255);
}

.color-lite {
    color: rgb(255, 255, 255);
}

.bg-color-dark {
    background-color: rgb(8, 0, 255);
}

.bg-color-lite {
    background-color: rgb(255, 202, 178);
}

.margin-border {
    margin: 10px 0;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 3px;
}

.flex-center {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.responsive-paras {
    width: 70%;
    margin: 10px;
    text-align: justify;
}

.intro-part {
    background-image: url("../images/intro-desktop.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.intro-text {
    font-size: 50px;
    padding: 30px;
}

.cursor-link {
    cursor: pointer;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    .intro-part {
        background-image: url("../images/intro-mobile.png");
        width: 100%;
    }
    .responsive-paras {
        width: 95%;
        margin: 5px;
    }
    .flex-center-row {
        flex-direction: column;
    }
    .intro-text {
        font-size: 25px;
        margin: 10px;
    }
    header {
        margin-bottom: -9px;
    }
}